body {
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
}

p {
    word-wrap: break-word;
}

.copyright {
    font-size: 30px;
}

body {
    position: absolute;
    left: -500px;
    -webkit-animation: slide 0.5s forwards;
    animation: slide 0.5s forwards;

}

@-webkit-keyframes slide {
    100% { left: 5%; }
}

@keyframes slide {
    100% { left: 5%; }
}

