body {
    font-family: 'Poiret One', cursive;
    float: none;
}

h1 {
    text-align: center;
    padding: 1.75%;
    font-size: 650%
}

.thenav {
    color: #00009c;
    font-size: 200%;
}

p {
    font-size: 130%;
    text-align: center;
    line-height: 2.00;
    padding-left: 20%;
    padding-right: 20%;
}

.about {
    text-align: center;
}


.copyright {
    
    text-align: center;
}